
.grid-form {
    padding: 1rem;
    height: 102vh;
    width: 330vh;
    /* background: #eee; */
    background-image: url("../../bgi.jpeg");
    background-repeat: no-repeat;
    background-size: 50cm;
    
}
