.ui.menu .item{
    color : rgb(28, 28, 39) !important;
}

.clickable:hover{
    cursor: pointer;
}

.ui.menu .item.active{
    background : #1164A3 !important;
}

.custom-Modal {
width: 500px;
height: 500px;
}
