.ui.menu.item {
  color: rgb(1, 3, 10);
  border-radius: 20px;
}

.clickable:hover {
  cursor: pointer;
}

.ui.menu .item.active {
  background: #021e2b2a !important;
}

.modal-content {
  height: 500px;
}
.modal-container {
  height: 24.375rem;
}

.mains {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
