.ui.menu .item{
    color : rgba(6, 8, 8, 0.836) !important;
}

.clickable:hover{
    cursor: pointer;
}

.ui.menu .item.active{
    background : #6aa4d1 !important;
}

.modal-content {
    height: 500px;
  }
.modal-container{
    height: 30.37500rem;
    
  }
.clickable p{
     color :hsla(0, 0%, 3%, 0.973);
     float : left;
     font-size: 15px; 
     border-radius:5px;
     border-style:solid;
}