.side_bar{
    /* background : #e281da !important;  */
    background : #ac5f89 !important;
    font-size : 1.2rem  !important;
    overflow-y: scroll;

    /* background: url('../../bg.png'); */
    
}
